{% extends 'base.html.twig' %}

{% block title %}Produits
{% endblock %}

{% block body %}
{{ form(form), {'attr': {'class': 'ProductFilterType'}})}}
	<h1>Liste des produits</h1>
	<h2>Trier par :</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Prix</th>
				<th>Catégorie</th>
				<th>Vendeur</th>
				<th>Date de création</th>
				 </thead>
        <tbody>
            </tr>
        </thead>
	{% for product in products %}
		<tr>
			<td>{{ product.title }}</td>
			<td>{{ product.description }}</td>
			<td>
				{{ product.price }}
				€</td>
			<td>
				{{ product.category.name }}</td>
			<td>
				{{ product.seller.name }}
				{{ product.seller.firstname }}</td>
			<td>
			{{ product.createdAt|date('d/m/Y') }}
			</td>
		</tr>
		<a href="{{ path('app_product_show', {'id': product.id}) }}">Voir</a>
	{% endfor %}
{% endblock %}


    